/* Animations */

.honey-comb {
	animation: sway 2.5s ease-in-out infinite;
	margin: 0 auto;
	width: 300px;
	height: auto;
	display: block;
  }
  
  /* Allows the honey comb to sway left, and right repeatedly */
  @keyframes sway {
	0% {
	  transform: translate(0, 0) rotate(0deg);
	}
	25% {
	  transform: translate(-2px, -1px) rotate(-2deg);
	}
	50% {
	  transform: translate(0, 1px) rotate(0deg);
	}
	75% {
	  transform: translate(2px, -1px) rotate(2deg);
	}
	100% {
	  transform: translate(0, 0) rotate(0deg);
	}
  }

/* Style for the container of building and upgrade buttons. */
#mt30 {
	margin-top: 30px;
}

body {
	font-family: "Montserrat";
}

.image-button-container {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #424549; /* Button background */
    padding-right: 150px; /* Padding for space on the right-hand side of the button. Will be used for text. */
    border-radius: 5px; /* Rounding the corners of the border */
    cursor: pointer;
	span {
		color: #fff;
	}
}

/* Style for the image buttons (buildings and upgrades) */
.image-button {
    width: 200px;
    height: auto;
    margin-right: 10px; /* Space between image and text */
}

/* Style for the text appearing to the right of the image buttons. */
.button-text {
    color: black;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

/* Style for the Counter */
.counter-text {
	color: #fff;
	font-size: 45px;
	font-weight: 500;
	line-height: 10px;
}

/* Style for a grid layout used to place buttons */
.grid-container {
	place-content: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 600px));
    gap: 10px;
}

/* To hide a button */
.hidden {
	visibility: hidden;
}

/* Style for a bonus button */
.image-bonus {
	position: absolute;
	width: 80px;
	height: auto;
    z-index: 10; /* To bring the image to the front */
}

/* Style for a regular message */
.message {
	background-color: #adbdf7;  /* Light blue */
	padding: 10px;
	width: fit-content;
	height: 20px;
	z-index: 5; /* To bring the text to the front */
	border-radius: 5px;
	font-size: 20px;
    font-weight: bold;
}

/* Style for an achievement message */
.achievement {
	background-color: #ffe98f;  /* Yellow-Gold */
	padding: 10px;
	width: fit-content;
	height: 20px;
	z-index: 5; /* To bring the text to the front */
	border-radius: 5px;
	font-size: 20px;
    font-weight: bold;
}

.counter-text {
	font-size: 30px;
}

@media screen and (max-width: 480px){
	.mobileFullWidth{
		width:100% !important;
	}
	
	.grid-container {
		place-content: center;
		display: grid;
		grid-template-columns: repeat(1, minmax(150px, 600px));
		gap: 10px;
	}

	.title {
		font-size: 28px;
	}

	.counter-text {
		font-size: 20px;
	}
}

